@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";  
}

<div class="wrapper" style="background-image: url('/assets/images/loginBG.jpg');">
    <div class="inner">
        <form action="">
            <h3>Login</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="">Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-wrapper">
                    <label for="">Password</label>
                    <input type="password" class="form-control">
                </div>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                    <span class="checkmark"></span>
                </label>
            </div>
            <button>Login Now</button>
            <a asp-controller="Register" asp-action="Index" class="text-center"> Register New Account</a>
        </form>
    </div>
</div>
