@{

}
<nav class="primary-nav padding-small">
    <div class="container" >
        <div class="row d-flex align-items-center">
            <div class="col-lg-2 col-md-2">
                <div class="main-logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/assets/images/new logo1.jfif" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="navbar">
                    <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                        <ul class="menu-list">
                            <li><a href="/Home" class="item-anchor" data-effect="Home">Home</a></li>
                            <li class="menu-item has-sub">
                                <a href="#" class="item-anchor d-flex align-item-center" data-effect="Shop">
                                    Departments<i class="icon icon-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    @if (ViewData["departments"] != null)
                                    {
                                        var departments = (List<Department>)ViewData["departments"];

                                        if (departments.Count > 0)
                                        {
                                            @foreach (var item in departments)
                                            {
                                                <li>
                                                    <a asp-action="GetCategoriesByDepartment" asp-controller="Department" asp-route-departmentId="@item.DepartmentId" asp-route-departmentName="@item.DepartmentName" class="item-anchor">
                                                        @item.DepartmentName
                                                    </a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li><span>No departments available</span></li>
                                        }
                                    }
                                    else
                                    {
                                        <li><span>No departments available</span></li>
                                    }
                                </ul>
                            </li>

                            <li><a href="#" class="item-anchor" data-effect="Home">Brands</a></li>

                            <li>  <a asp-action="Index" asp-controller="About"> About </a></li>

                            <li>  <a asp-action="Index" asp-controller="Contact"> Contact </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>