body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.profile-sidebar {
    width: 200px;
    background-color: #f8f9fa;
    padding-top: 20px;
    min-height: 100vh;
}

.profile-nav {
    display: flex;
    flex-direction: column;
}

.profile-sidebar .nav-link {
    color: #333;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.profile-sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.profile-sidebar .nav-link:hover {
    background-color: #e9ecef;
}

/* profile styles  */

.profile-content {
    padding: 2rem;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 1rem 2rem;
}

/* .profile-content h2 {
    margin: 1rem 2rem;
} */

.profile-info {
    max-width: 600px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block: 1rem;
}

.input-group label {
    margin: 0;
}

.input-group input {
    margin: 0;
}

.input-group .form-control[readonly] {
    background-color: #f8f9fa;
}

.gender-nation {
    display: flex;
    gap: 3rem;
}

.nation-select {
    display: block;
    margin-block: 0;
}

.nation-select label {
    margin-bottom: 0.8rem;
}

.nation-select select {
    width: 10rem;
}

.edit-icon {
    cursor: pointer;
    color: #007bff;
}

.edit-icon:hover {
    color: #0056b3;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.btn:disabled {
    opacity: 0.5;
}

.gender-selection {
    display: flex;
    gap: 10px;
}

.gender-option {
    position: relative;
}

.gender-option input[type="radio"] {
    display: none;
}

.btn-gender {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-gender:hover {
    background-color: #f0f0f0;
}

.gender-option input[type="radio"]:checked+.btn-gender {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.btn-male {
    color: #007bff;
    border-color: #007bff;
}

.btn-female {
    color: #e83e8c;
    border-color: #e83e8c;
}

.gender-option input[type="radio"]:checked+.btn-female {
    background-color: #e83e8c;
    color: #fff;
}

input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

/* -------- */

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.wishlist-items {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.wishlist-items li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}