@{
    Layout = "~/Views/Shared/_Layout.cshtml"; // Using the correct layout
    ViewData["Title"] = "Women's Fashion";
}

<h2>@ViewData["Title"]</h2>

<p>Welcome to the Men's Fashion section. Browse Department like Clothing, Footwear, Accessories, and more!</p>
